doctype html

html(class="route-documentation" lang="ja")
  head
    include ./src/meta.pug

  body
    include ./src/header.pug
    include ./src/hero.pug

    div(class="container")
      include ./src/calender.pug
      include ./src/list.pug

    include ./src/footer.pug
