-
  const writer = {
    "niwasaki": "https://sysken.org/wp-content/uploads/2018/04/Al_talf_avatar_1524734960-96x96.jpg",
    "chatoto": "https://sysken.org/wp-content/uploads/2018/12/LfiaoWwl_bigger.jpg",
    "Cilvia": "https://sysken.org/wp-content/uploads/2018/04/Cilvia_avatar_1523259945-96x96.jpg",
    "Gimmick": "https://sysken.org/wp-content/uploads/2018/04/Gimmick_avatar_1523260063-96x96.png",
    "Jun": "https://secure.gravatar.com/avatar/57018b6824111b5307316ccdbb4504cf?s=96&d=mm&r=g",
    "RS": "https://sysken.org/wp-content/uploads/2018/01/RS_avatar_1516161647-96x96.png",
    "Shizuto": "https://secure.gravatar.com/avatar/9552f5ff66f88f2f8fd66f48c4ece795?s=96&d=mm&r=g",
    "Terfno": "https://secure.gravatar.com/avatar/2fda10ff8dccf267309cb551841e96c0?s=96&d=mm&r=g",
    "kaho2525": "https://sysken.org/wp-content/uploads/2018/11/D2AE216F-320C-4459-A2FC-90EABFCD668D-96x96.jpeg",
    "kim": "https://sysken.org/wp-content/uploads/2018/04/kim_avatar_1523349453-96x96.jpg",
    "sinozima": "https://secure.gravatar.com/avatar/e0be991747f46a9ee4f02afe45db3256?s=96&d=mm&r=g",
    "yato": "https://secure.gravatar.com/avatar/74e4d8c19b73c730be733a2e58779ab7?s=96&d=mm&r=g",
    "〆鯖": "https://sysken.org/wp-content/uploads/2018/11/a633d855e579acf07415b3507559e140-96x96.jpg",
    "いしかず": "https://sysken.org/wp-content/uploads/2018/05/f84bb111d9838f782bb58cd73513aa3c-96x96.jpg",
    "ぐらたん": "https://sysken.org/wp-content/uploads/2018/11/b0a2ca0bce84567815b2847d50a951f5-96x96.png",
    "こば": "https://sysken.org/wp-content/uploads/2018/11/a3893c92ccdb48501eef63d3d0c8cd93-96x96.jpg",
    "てんぷら": "https://secure.gravatar.com/avatar/b2abd46c12a0346d113193f3ebaedf51?s=96&d=mm&r=g",
    "ふぃらっは": "https://secure.gravatar.com/avatar/4d6a3f95e6704e61219fd3b58377737f?s=96&d=mm&r=g",
    "るっち": "https://sysken.org/wp-content/uploads/2018/04/0e04925d3ae452b127a502773a9d58f4-96x96.png",
    "手羽先": "https://sysken.org/wp-content/uploads/2018/04/vKZzCYzp_400x400-96x96.png",
    "縣": "https://sysken.org/wp-content/uploads/2018/04/45b6e273a469e8defed77d20762c2ce8-96x96.png"
  }
