section(class="section is-hidden-mobile")
  h1(class="title") カレンダー
  hr
  div
    table(class="columns is-centered is-multiline table is-bordered")
      thead(class="column is-10")
        tr(class="columns is-centered")
          //- 曜日一覧を読み込み
          include ./config/days.pug
          each item in days
            if (item == "SUN")
              th(class="column has-background-danger has-text-white-bis has-text-centered"): p #{item}
            else if (item == "SAT")
              th(class="column has-background-link has-text-white-bis has-text-centered"): p #{item}
            else
              th(class="column has-background-warning has-text-grey-darker has-text-centered"): p #{item}
      tbody(class="column is-10")
        //- 投稿一覧, 投稿者一覧を読み込み
        include ./config/post.pug
        include ./config/writer.pug
        //- startDiff: 月頭の空白の日数(12月のカレンダーに映り込む11月の日数)
        - const startDiff = 5
        //- raw: 週の数
        //- data: 日付
        - for(let raw=0; raw<5; raw++)
          tr(class="columns is-centered")
            //- その週の初日〜その週の最終日
            - for (let date=raw*7-startDiff; date<(raw+1)*7-startDiff; date++)
                if (date < 1 || date > 25)
                  td(class="column has-background-grey-lighter")
                    figure(class="image is-64x64 container")
                else if (date%7 == 1)
                  td(class="column has-background-white")
                    p(class="has-text-link") #{date}
                    figure(class="image is-64x64 container"): img(class="is-rounded" src=writer[post[date][0]] height="80" width="80")
                    p(class="has-text-centered") #{post[date][0]}
                else if (date%7 == 2)
                  td(class="column has-background-white")
                    p(class="has-text-danger") #{date}
                    figure(class="image is-64x64 container"): img(class="is-rounded" src=writer[post[date][0]] height="80" width="80")
                    p(class="has-text-centered") #{post[date][0]}
                else
                  td(class="column has-background-white")
                    p(class="has-text-grey-darker") #{date}
                    figure(class="image is-64x64 container"): img(class="is-rounded" src=writer[post[date][0]] height="80" width="80")
                    p(class="has-text-centered") #{post[date][0]}
