header
  nav(class="navbar has-background-white-bis" role="navigation" aria-label="main navigation")
    div(class="navbar-start")
      a(class="navbar-item as-text-grey-dark" href="https://sysken.org/")
        | SYSKEN ONLINE
    div(class="navbar-end")
      p(class="navbar-item has-text-grey-dark") SYSKEN Advent Calendar 2018
