section(class="section")
  h1(class="title") 記事詳細
  hr
  table(class="columns is-centered is-mobile bg-harf table is-borderd")
    tbody(class="column is-10 box")
      each item, index in post
        tr(class="columns is-centerd")
          td(class="column is-1 has-text-centered"): p 12/#{index}
          td(class="column is-1")
            figure(class="image is-32x32 container")
              img(class="is-rounded" src=writer[post[index][0]] height="25" width="25")
          td(class="column is-2 has-text-centered"): p #{post[index][0]}
          td(class="column"): a(href=post[index][2]) #{post[index][1]}
