meta(charset="UTF-8")
meta(http-equiv="content-type" content="text/html")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

title SYSKEN Advent Calendar 2018

meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="title" content="SYSKEN Advent Calendar 2018")
meta(property="og:url" content="https://sysken.org/advent2018/")
meta(property="og:title" content="SYSKEN Advent Calendar 2018")
meta(property="og:description" content="「SYSKEN Advent Calendar 2018」はシステム研究部の部員が何かしらの記事を書くイベントです")

link(href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" rel="stylesheet")
